<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{ product?.name }}</mat-card-title>
            <mat-card-subtitle>${{ product?.price }}</mat-card-subtitle>
            <img mat-card-md-image [src]="product?.images?.[0]?.url" [alt]="product?.name" />
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-actions>
        <button mat-button (click)="onBuyClick($event)">Купить</button>
    </mat-card-actions>
</mat-card>
