<!-- Easy вариант -->
<!-- <ng-container *ngIf="(products | productsFilter : name) as productsFromNgIf; else loader"> -->

<!-- Hard вариант -->
<ng-container
    *ngIf="products$ | async | filterByProperty: 'name' : '' as productsFromNgIf; else spiner"
>
    <!-- Закомментировать при выполнении ДЗ -->
    <!-- <ng-container *ngIf="products as productsFromNgIf; else spiner"> -->
    <div appScrollWithLoading class="scroll-container" (loadNextData)="loadNextProducts()">
        <app-card
            *ngFor="
                let product of productsFromNgIf;
                trackBy: trackByProductId;
                let localIndex = index
            "
            class="card"
            [product]="product"
        ></app-card>
    </div>
</ng-container>

<ng-template #spiner>
    <mat-spinner></mat-spinner>
</ng-template>
