<ng-container *ngIf="products as productsFromNgIf; else spiner">
    <!-- Заменить при выполнении ДЗ -->
    <div appScrollWithLoading class="scroll-container" (loadNextData)="loadNextProducts()">
        <!-- <div class="scroll-container"> -->
        <app-card
            *ngFor="
                let product of productsFromNgIf;
                trackBy: trackByProductId;
                let localIndex = index
            "
            class="card"
            [product]="product"
        ></app-card>
    </div>
</ng-container>

<ng-template #spiner>
    <mat-spinner></mat-spinner>
</ng-template>
